$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tiertary: #99e2d0;
$color-background: #f6f6f6;

// mixin
@mixin box-shadow {
    box-shadow: 2px 4px 4px #9f8fac;
}

@mixin shadow-hover {
    box-shadow: 4px 6px 6px #9f8fac;
}

@mixin background-hover {
    background-color: lighten($color: $color, $amount: 10%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
}

// loader
.loader {
    display: none;
}

//

h1 {
    font-size: 34px;
    font-family: "Shrikhand", Geneva, Tahoma, sans-serif;
    margin: 3% auto 1% auto;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

p {
    font-weight: 100;
}

strong {
    font-weight: 500;
}

// header

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #eaeaea;
    justify-content: center;
    box-shadow: inset 0px 11px 10px -10px #bababa;
    p, i {
        padding: 0 2%;
    }  
}

// article

article {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
      p {
        margin: 0;
    }
    a {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 19px;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.degrade {
    border-color: transparent;
    margin: 5% 0;
    width: 65%;
    height: 55px;
    border-radius: 25px;
    font-weight: bold;
    background: linear-gradient(to top left, $color-primary, $color-secondary );
    @include box-shadow;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        @include shadow-hover;
    }
}
