@media screen and (min-width: 768px) {

    /*--HEADER--*/

    header {
        padding-top: 4%;
    }

    header img {
        width: 30%;
    }

    .banniere {
        position: unset;
    }

    /*--HEADER-FIN--*/

    /*--MENU--*/

    .carte-menu {
        width: 80%;
        position: relative;
        margin-bottom: 35%;
        margin-top: 0;
        margin-bottom: 20%;
    }

    .titre {
        justify-content: space-between;
        padding-top: 2%;
    }

    .titre h1 {
        margin-bottom: 3%;
    }

    .titre .far { 
        padding-left: 11%;
        margin-bottom: 5%;
        margin-top: 22px;
        top: 1.5%;
        right: 6%;  
    }

    .titre .fas {
        margin-top: 22px;
        right: 6%;
        top: 1.5%;  
    }

    .bordure {
        background: #99E2D0;
        height: 3px;
        width: 60px;
    }

    .carte {
        margin-left: 4%;
        margin-right: 4%;
        padding-bottom: 6%;
    }

    .titre-carte h2 {
        margin-top: 0;
    }

    /*--MENU-FIN--*/

    /*--FOOTER--*/

    footer {
        margin-top: 2%;
    }

    footer h2 {
        padding-top: 4%;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding-bottom: 5%;
    }

    /*--FOOTER-FIN--*/



}